<div class="modal fade" id="addBookModal">
    <div class="modal-container">
        <div class="modal-content">
            <form action="/import/create/add-book" method="post">
                <div class="modal-header">
                    <h2 class="modal-title">Thêm sách</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <label for="book-name" class="form-label">Tên sách</label>
                        <input type="text" name="bookname" id="book-name" class="form-input" required>
                    </div>
                    <div class="form-row">
                        <label for="author" class="form-label">Tác giả</label>
                        <input type="text" name="author" id="author" class="form-input" required>
                    </div>
                    <div class="form-row">
                        <label for="category" class="form-label">Thể loại sách</label>
                        <input type="text" name="category" id="category" class="form-input" required>
                    </div>
                    <div class="form-row">
                        <label for="quantity" class="form-label">Số lượng</label>
                        <input type="text" name="quantity" id="quantity" class="form-input" required>
                    </div>

                    <div style="width: 500px;">
                        <p id="error" class="d-none" style="color:red; font-size:13px; margin: 0;"></p>
                    </div>
                    <div class="form-row">
                        <label for="price" class="form-label">Đơn giá</label>
                        <input type="text" name="price" id="price" class="form-input" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="ok-btn" class="btn btn-primary">Hoàn tất</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/jquery-3.6.1.min.js"></script>

<script>
    $('#addBookModal #quantity').on('change', (e) => {

        const quantity = $(e.target).val();

        if (quantity < {{minImportValue}}) {
            $('#addBookModal #error').removeClass('d-none');
            $('#addBookModal #error').addClass('show');
            $('#addBookModal #error').html(`Số lượng sách nhập ít nhất là {{minImportValue}}`)
        }
        else {
            $('#addBookModal #error').removeClass('show');
            $('#addBookModal #error').addClass('d-none');
        }
    } )
</script>