<div class="modal fade " id="listBookModal">
    <div class="modal-container">
        <div class="modal-content modal-extra-lg">
            <form action="/invoice/add-book-to-invoice" method="post">
                <div class="modal-header">
                    <h2 class="modal-title">Thêm sách</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="table-fixed table-extra-large table-responsive rounded">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col" width="30%">Tên sách</th>
                                    <th scope="col">Thể loại</th>
                                    <th scope="col" width="20%">Tác giả</th>
                                    <th scope="col" width="15%">Đơn giá</th>
                                    <th scope="col" width="10%">Tồn kho</th>
                                    <th scope="col" width="10%">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Otto</td>
                                    <td><input type="number" name="book-amount" class="book-amount" min="0"></td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Otto</td>
                                    <td><input type="number" name="book-amount" class="book-amount" min="0"></td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Otto</td>
                                    <td><input type="number" name="book-amount" class="book-amount" min="0"></td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Otto</td>
                                    <td><input type="number" name="book-amount" class="book-amount" min="0"></td>

                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Otto</td>
                                    <td><input type="number" name="book-amount" class="book-amount" min="0"></td>

                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Otto</td>
                                    <td><input type="number" name="book-amount" class="book-amount" min="0"></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="ok-btn" class="btn btn-primary">Hoàn tất</button>
                </div>
            </form>
        </div>
    </div>
</div>