<h1 class="main__title">Thêm sách</h1>

<form action="" method="" class="form__addBook">
    <div class="form-row">
        <label for="book-name" class="form-label">Tên sách</label>
        <input type="text" name="book-name" id="book-name" class="form-input" value="" required>
    </div>
    <div class="form-row">
        <label for="author" class="form-label">Tác giả</label>
        <input type="text" name="author" id="author" class="form-input" value="" required>
    </div>
    <div class="form-row">
        <label for="category" class="form-label">Thể loại sách</label>
        <input type="text" name="category" id="category" class="form-input" value="" required>
    </div>
    <div class="form-row">
        <label for="quantity" class="form-label">Số lượng</label>
        <input type="text" name="quantity" id="quantity" class="form-input" value="" required>
    </div>
    <div class="form-row">
        <label for="price" class="form-label">Đơn giá</label>
        <input type="text" name="price" id="price" class="form-input" value="" required>
    </div>

    <button class="form-btn">Thêm</button>
</form>