<h1 class="main__title">Phiếu nhập sách</h1>

<div class="main__searchBar">
    <input type="text" class="searchBar__input" placeholder="Tìm kiếm" id="" name="">
    <button class="searchBar__btn">
        <ion-icon name="search" class="icon"></ion-icon>
    </button>
</div>

<div class="import__menu">
    <div class="import__menu-selectAll">
        <input type="checkbox" id="selectAll">
        <label for="selectAll">Chọn tất cả</label>
    </div>

    <ul class="import__menu-btns">
        <li><button class="import__menu-btn"><ion-icon name="add" class="icon"></ion-icon>Thêm mới</button></li>
        <li><button class="import__menu-btn"><ion-icon name="create" class="icon"></ion-icon>Cập nhật</button></li>
        <li><button class="import__menu-btn"><ion-icon name="trash" class="icon"></ion-icon>Xóa</button></li>
    </ul>
</div>

<div class="main__content">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã phiếu</th>
                <th scope="col">Ngày lập phiếu</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col">Người lập</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="main__pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>