<h1 class="main__title">Phiếu nhập sách</h1>

<div class="createImport__menu">
    <div class="createImport__menu-id">ID: PHIEUNHAP03</div>
    <div class="createImport__menu-date">
        Ngày lập
        <input type="date">
    </div>
    <ul class="createImport__menu-btns">
        <li><button class="import__menu-btn"><ion-icon name="add" class="icon"></ion-icon>Thêm sách</button></li>
        <li><button class="import__menu-btn"><ion-icon name="trash" class="icon"></ion-icon>Xóa sách</button></li>
    </ul>
</div>

<div class="main__content">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sách</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="main__pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="createImport__info">
    <div class="createImport__info-count">
        Tổng số: <span>50</span> sách
    </div>
    <div class="createImport__info-cost">
        Thành tiền: <span>500000</span> (VND)
    </div>
</div>

<div class="createImport__submit">
    <button class="createImport__submit-btn">Hoàn tất</button>
</div>