<h2 class="main__title">Chi tiết phiếu nhập sách</h2>

<div class="main__searchBar">
    <input type="text" class="searchBar__input" placeholder="Tìm kiếm" id="" name="">
    <button class="searchBar__btn">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div class="import__menu">
    <div class="import__menu-selectAll">
        <input type="checkbox" id="selectAll">
        <label for="selectAll">Chọn tất cả</label>
    </div>

    <ul class="import__menu-btns">
        <li><a href="/import/create" name="add" class="import__menu-btn"><i
                    class="fa-solid fa-circle-plus icon"></i>Thêm mới</a></li>
        <li><a href="/import/delete" name="delete" class="import__menu-btn"><i
                    class="fa-solid fa-trash icon"></i>Xóa</a></li>
    </ul>
</div>

<div class="main__content">
    <div class="table-responsive rounded">
        <table class="table table-striped table-hover table-bordered m-0">
            <thead>
                <tr>
                    <th scope="col"><i class="fa-regular fa-square"></i></th>
                    {{!-- <th scope="col" width="10%">STT</th> --}}
                    <th scope="col" width="20%">Mã chi tiết phiếu</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                {{#each detail_import}}
                <tr>
                    <th scope="row" class="text-center">
                        <input type="checkbox">
                    </th>
                    {{!-- <td>1</td> --}}
                    <td>{{this.importDetailID}}</td>
                    <td>{{formatDate this.bookname}}</td>
                    <td>{{formatDate this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{>pagination}}

<script src="/js/jquery-3.6.1.min.js"></script>

<script src="/js/checkbox.js"></script>