{{!-- <div id="header">
    <div class="navbar">
        <ul class="list-items">
            <li>
                <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-bookstore-logo-template_23-2149337115.jpg?w=2000"
                    alt="Logo Bookshop" class="logo">
            </li>
            <li class="header__bookshop">Bookshop Manager</li>
        </ul>

        <ul class="list-items btn">
            <li>
                <img src="https://img.favpng.com/23/3/6/circle-line-point-area-clip-art-png-favpng-CvaYhEcU64kWWSUQa3gVdNS78.jpg"
                    alt="Avatar" class="logo__account">
            </li>
            <li class="name">
                <button class="header__btn">Admin</button>
            </li>
            <li class="logout">
                <button class="header__btn">Đăng xuất</button>
            </li>
        </ul>
    </div>
</div> --}}

