<form action="/account/password" method="post">

    <div class="main__header">
        <h2 class="main__title">Đổi mật khẩu</h2>
    </div>

    <div class="main__content">
        <div class="content__body">

            <div class="input__group">
                <span class="input__label">Mật khẩu cũ</span>
                <input name="oldPassword" type="password" placeholder="Mật khẩu">
            </div>

            {{#if oldPwdError }}
            <span class="error-alert"><p>{{oldPwdError}}</p></span>
            {{/if}}
            

            <div class="input__group">
                <span class="input__label">Mật khẩu mới</span>
                <input name="newPassword" type="password" placeholder="Mật khẩu mới">
            </div>

            {{#if newPwdError }}
            <span class="error-alert"><p>{{newPwdError}}</p></span>
            {{/if}}
            

            <div class="input__group">
                <span class="input__label">Xác nhận mật khẩu</span>
                <input name="confirmPassword" type="password" placeholder="Xác nhận mật khẩu">
            </div>

            {{#if confirmError }}
            <span class="error-alert"><p>{{confirmError}}</p></span>
            {{/if}}
            
        </div>

        <div class="content__footer">
            <div class="content__btn">
                <a href="/account/password" class="btn btn-secondary">Hủy bỏ</a>
                <button type="submit" class="btn btn-primary">Lưu</button> 
            </div>

        </div>

    </div>

</form>