<h2 class="main__title">Quy định</h2>


<ul class="rule__menu">
    <a href="/regulation/update" class="rule__btn"><i class="fa-solid fa-pen-to-square icon"></i>Cập nhật</a>
</ul>

<div class="main__content">
    <div class="table-responsive rounded">
        <table class="table table-striped table-hover table-bordered m-0">
            <thead>
                <tr>
                    <th scope="col"><i class="fa-regular fa-square"></i></th>
                    <th scope="col">Tên quy định</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-center">
                        <input type="checkbox">
                    </th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">
                        <input type="checkbox">
                    </th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{>pagination}}