<h2 class="main__title">Báo cáo tháng</h2>

<div class="report__menu">
    <div class="report__type">
        <label for="type-of-report">Loại báo cáo</label>
        <select name="type-of-report" id="type-of-report">
            <option id="inventoryOption" value="tonsach">Báo cáo tồn sách</option>
            <option id="debtOption" value="congno">Báo cáo công nợ</option>
        </select>
    </div>

    <div class="report__date">
        <div class="report__month">
            <label for="month">Tháng</label>
            <select name="month" id="month">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="report__year">
            <label for="year">Năm</label>
            <select name="year" id="year">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023" selected>2023</option>
            </select>
        </div>
    </div>

    <button class="report__btn">Lập báo cáo</button>
</div>

<div id="inventoryReport" class="main__content report__active ">
    <div class="report__table-title">Báo cáo tồn sách</div>
    <div class="table-responsive rounded">
        <table class="table table-striped table-hover table-bordered m-0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Tồn đầu</th>
                    <th scope="col">Phát sinh</th>
                    <th scope="col">Tồn cuối</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">0</th>
                    <td>Cây Cam Ngọt Của Tôi</td>
                    <td>53073</td>
                    <td>0</td>
                    <td>53073</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Hành Tinh Của Một Kẻ Nghĩ Nhiều</td>
                    <td>7924</td>
                    <td>0</td>
                    <td>7924</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>"Những Tù Nhân Của Địa Lý"</td>
                    <td>17894</td>
                    <td>0</td>
                    <td>17894</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>"Nhà Giả Kim (Tái Bản 2020)"</td>
                    <td>7924</td>
                    <td>0</td>
                    <td>7924</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>"Thao Túng Tâm Lý"</td>
                    <td>1894</td>
                    <td>0</td>
                    <td>1894</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>"Thư Viện Nửa Đêm"</td>
                    <td>1788</td>
                    <td>0</td>
                    <td>1788</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<div id="debtReport" class="main__content report__active d-none">
    <div class="report__table-title">Báo cáo công nợ</div>
    <div class="table-responsive rounded">

        <table class="table table-striped table-hover table-bordered m-0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Khách hàng</th>
                    <th scope="col">Nợ đầu</th>
                    <th scope="col">Phát sinh</th>
                    <th scope="col">Nợ cuối</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">3</th>
                    <td>Hà Bảo Ngọc</td>
                    <td>50000</td>
                    <td>0</td>
                    <td>47500</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Trần Quang Nhật</td>
                    <td>24000</td>
                    <td>0</td>
                    <td>23700</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{>pagination}}

<script src="/js/jquery-3.6.1.min.js"></script>
<script>

    let inventoryReport = $('#inventoryReport');
    let debtReport = $('#debtReport');

    $('#type-of-report').change(() => {
        const val = $('#type-of-report option:selected').text();
        
        if (val == "Báo cáo tồn sách") {
           
            inventoryReport.removeClass('d-none');
            inventoryReport.addClass('show');

            debtReport.addClass('d-none');
            debtReport.removeClass('show');
            console.log(val);

        }
        else if (val == "Báo cáo công nợ") {
          
            debtReport.removeClass('d-none');
            debtReport.addClass('show');

            inventoryReport.addClass('d-none');
            inventoryReport.removeClass('show');
    
        }
    })
</script>