<form id="invoice-form" method="post">
    <div class="main__header">
        <a href="/invoice" class="main__header-btn">
            <i class="fa-solid fa-angle-left"></i>
            Trở về
        </a>
        <h2 class="main__title">Hóa đơn bán sách</h2>
    </div>


    <div class="form-content">

        <div class="customer-info">
            <div class="header-info">
                <h4>Thông tin khách hàng</h4>
            </div>

            <div class="createInvoice__customer-infor ">
                <div class="input-group">
                    <label for="customer-name">Họ tên</label>
                    <input type="text" name="customer-name" class="border-input">
                </div>

                <div class="input-group">
                    <label for="customer-phone">Số điện thoại </label>
                    <input type="text" name="customer-phone" class="border-input">
                </div>

                <div class="input-group">
                    <label for="customer-email">Email </label>
                    <input type="email" name="customer-email" class="border-input">
                </div>

                <div class="input-group">
                    <label for="customer-address">Địa chỉ </label>
                    <input type="email" name="customer-address" class="border-input">
                </div>
            </div>

        </div>

        <div class="invoice-content">
            <div class="createImport__menu">
                <div class="createImport__menu-id">ID:
                    <h6 name="importID">HOADON03</h6>
                </div>

                <div class="createImport__menu-date">
                    <div class="d-inline">Ngày lập:</div>
                    <input type="date" name="importDate">
                </div>
                <ul class="createImport__menu-btns">
                    <li><button name="addBook" class="import__menu-btn"><i class="fa-solid fa-circle-plus icon"></i>Thêm
                            sách</button></li>
                    <li><button name="removeBook" class="import__menu-btn"><i class="fa-solid fa-trash icon"></i>Xóa
                            sách</button>
                    </li>
                </ul>
            </div>

            <div class="main__content">
                <div class="table-fixed table-large table-responsive rounded">
                    <table class="table table-striped table-hover table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fa-regular fa-square"></i></th>
                                <th scope="col" width="10%">STT</th>
                                <th scope="col" width="20%">Tên sách</th>
                                <th scope="col" width="20%">Thể loại</th>
                                <th scope="col">Tác giả</th>
                                <th scope="col" width="10%">Số lượng</th>
                                <th scope="col" width="15%">Đơn giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-center">
                                    <input type="checkbox">
                                </th>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Otto</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">
                                    <input type="checkbox">
                                </th>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Otto</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">
                                    <input type="checkbox">
                                </th>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Otto</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">
                                    <input type="checkbox">
                                </th>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Otto</td>
                                <td>Otto</td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-center">
                                    <input type="checkbox">
                                </th>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Otto</td>
                                <td>Otto</td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-center">
                                    <input type="checkbox">
                                </th>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Otto</td>
                                <td>Otto</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="createImport__info">
                <div class="createImport__info-count">
                    <h6>Tổng số: <span>50</span> sách</h6>
                </div>
                <div class="createImport__info-cost">
                    <h6>Thành tiền: <span>500000</span> (VND)</h6>
                </div>
            </div>

            <div class="createImport__submit">
                <button class="createImport__submit-btn btn-grey" form="invoice-form" formaction="/invoice/debt">Ghi
                    nợ</button>
                <button class="createImport__submit-btn" form="invoice-form" formaction="/invoice/update">Thanh
                    toán</button>
            </div>

        </div>
    </div>


</form>

{{!-- --}}

{{> modals/list_book}}

{{!-- add book modal --}}

<script src="/js/jquery-3.6.1.min.js"></script>
<script>

    // show and hide list book modal
    var listBookModal = $("#listBookModal");

    $("button[name='addBook']").click((e) => {
        e.preventDefault();
        listBookModal.addClass('show');
    })

    $(".btn-close").click((e) => {
        e.preventDefault();
        listBookModal.removeClass('show');
    })

</script>