<div class="modal fade" id="addBillModal">
    <div class="modal-container">
        <div class="modal-content">
            <form action="/receipt/create" method="post">

                <div class="modal-header">
                    <h2 class="modal-title">Phiếu thu tiền</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <label for="user-id" class="form-label">Mã khách hàng</label>
                        <input type="text" name="user-id" id="user-id" class="form-input" value="" required>
                    </div>
                    <div class="form-row">
                        <label for="fullname" class="form-label">Họ tên khách hàng</label>
                        <input type="text" name="fullname" id="fullname" class="form-input" value="" required>
                    </div>
                    <div class="form-row">
                        <label for="addr" class="form-label">Địa chỉ</label>
                        <input type="text" name="addr" id="addr" class="form-input" value="" required>
                    </div>
                    <div class="form-row">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-input" value="" required>
                    </div>
                    <div class="form-row short">
                        <div class="phone">
                            <label for="phone" class="form-label">Điện thoại</label>
                            <input type="text" name="phone" id="phone" class="form-input" value="" required>
                        </div>
                        <div class="date">
                            <label for="date" class="form-label">Ngày thu tiền</label>
                            <input type="date" name="date" id="date" class="form-input" value="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="amount-pay" class="form-label">Số tiền thu</label>
                        <input type="text" name="amount-pay" id="amount-pay" class="form-input" value="" required>
                    </div>

                    <div class="form-row">
                        <input type="checkbox" name="apply-rule-4" id="apply-rule-4">
                        <label for="apply-rule-4">Thu nợ (Áp dụng quy định 4)</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="ok-btn" class="btn btn-primary">Hoàn tất</button>
                </div>
            </form>

        </div>
    </div>
</div>
