<div class="navbar">
    <a href="/"><img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-bookstore-logo-template_23-2149337115.jpg?w=2000"
        alt="Logo Bookshop" class="navbar__logo"></a>

    <span class="navbar__bookshopName">Bookshop Manager</span>

    <ul class="navbar__list-items">
        <li class="item">
            <img src="https://img.favpng.com/23/3/6/circle-line-point-area-clip-art-png-favpng-CvaYhEcU64kWWSUQa3gVdNS78.jpg"
                alt="Avatar" class="account-avatar">
        </li>
        <li class="item">
            <a href="#" class="account-username">Admin</a>
        </li>
        <li class="item">
            <a href="#" class="logout-btn">Đăng xuất</a>
        </li>
    </ul>
</div>