<div class="navbar">

    <div class="navbar__brandname">
        <a href="/"><img
                src="https://img.freepik.com/free-vector/hand-drawn-flat-design-bookstore-logo-template_23-2149337115.jpg?w=2000"
                alt="Logo Bookshop" class="navbar__logo"></a>

        <span class="navbar__bookshopName">Bookshop Manager</span>
    </div>


    <ul class="navbar__list-items">
        <li class="item">
            <i class="fa-solid fa-user user-avatar"></i>
        </li>
        <li class="item">
            <h6 class="account-username">{{user.username}}</h6>
        </li>
    </ul>
</div>