<ul class="side__menu">
    <li><a href="/" class="side__menu-btn active"><ion-icon name="home" class="side__menu-icon"></ion-icon>Trang chủ</a></li>
    <li><a href="/search" class="side__menu-btn"><ion-icon name="search" class="side__menu-icon"></ion-icon>Tra cứu sách</a>
    </li>
    <li><a href="#" class="side__menu-btn"><ion-icon name="save" class="side__menu-icon"></ion-icon>Phiếu nhập sách</a>
    </li>
    <li><a href="#" class="side__menu-btn"><ion-icon name="logo-usd" class="side__menu-icon"></ion-icon>Hóa đơn</a></li>
    <li><a href="#" class="side__menu-btn"><ion-icon name="paper" class="side__menu-icon"></ion-icon>Phiếu thu tiền</a>
    </li>
    <li><a href="#" class="side__menu-btn"><ion-icon name="stats" class="side__menu-icon"></ion-icon>Báo cáo tháng</a>
    </li>
    <li><a href="#" class="side__menu-btn"><ion-icon name="build" class="side__menu-icon"></ion-icon>Quy định</a></li>
</ul>
<hr>
<ul class="side__menu">
    <li><a href="#" class="side__menu-btn"><ion-icon name="settings" class="side__menu-icon"></ion-icon>Chỉnh sửa tài
            khoản</a></li>
    <li><a href="#" class="side__menu-btn"><ion-icon name="contact" class="side__menu-icon"></ion-icon>Đổi mật khẩu</a>
    </li>
</ul>